<div class="position-relative">
  <div class="position-absolute text-white translate-middle display-block" [ngClass]="warningClass">
    <div class="bg-danger p-2 px-5 rounded">
      <h3>You need to sign in to use this feature.</h3>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a href="https://kasimselimhanbaltas.github.io/#/" target="_blank" class="navbar-brand ms-5 pt-0">
        Calorie Calculator
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li id="navHome" class="nav-item">
            <a class="nav-link ${activeClassH} btn" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Calculator
            </a>
            <ul class="dropdown-menu text-white text-center" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn" routerLink="/daily-calories-need">Daily Needed Calories</a>
                </li>
              <li>
                <hr class="dropdown-divider bg-light">
              </li>
              <li><a class="dropdown-item btn" routerLink="calories-intake" (click)="updateWarningClass()">How Much I Ate</a></li>
            </ul>
          </li>

          <li id="navGame" class="nav-item">
            <a class="nav-link btn" routerLink="/foods">Nutrients</a>
          </li>
        </ul>
        <!-- Contacts -->
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a class="nav-link text-center" target="blank"
              href="https://www.linkedin.com/in/kas%C4%B1m-selimhan-balta%C5%9F-2b3832201/"><img
                src="assets/linkedin.png" alt=""></a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" target="blank" href="mailto:selimhanbaltas@gmail.com"><img
                src="assets/gmail.png" alt=""></a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" target="blank" href="https://github.com/kasimselimhanbaltas"><img
                src="assets/github.png" alt=""></a>
          </li>-->
          <li *ngIf="isAuthenticated" class="nav-item text-center">
            <a class="nav-link" routerLink="/login-register" (click)="logOut()">Logout</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item text-center">
            <a class="nav-link" routerLink="/login-register">
              Sign in/Sign up
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  <mat-divider></mat-divider>
</div>