
.navbar {
  background-color: #121629 !important;
}

.nav-item img {
  height: 4vh;
}
.dropdown-menu {
  background-color: #121629 !important;
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  color: black !important;
}
.bg-danger {
  opacity: .7;
}

.warning {
  top: 100%; left: 50%;
  z-index: 99;
  visibility: hidden;
  animation: warning 4s;
}
@keyframes warning {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}