
.navbar {
  background-color: #121629 !important;
}

.nav-item img {
  height: 4vh;
}
.dropdown-menu {
  background-color: #121629 !important;
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  color: black !important;
}

.warning {
  top: 100%; left: 50%;
  z-index: 99;
  visibility: hidden;
  animation: warning 3s;
}
@keyframes warning {
  0% {
    visibility: visible;
    opacity: 0;
  }
  33% {
    opacity: .7;
  }
  66% {
    opacity: .7;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}
/* app.component.css */
.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
  background-color: white !important; /* Kapalıyken beyaz yap */
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: black !important; /* Açıkken siyah yap */
}
