.decoration-1 {
  content: '';
  position: absolute;
  left:0; top: 0;
  display: inline-block;
  border-top: 250px solid #121629;
  border-right: 450px solid transparent;
  transition: border .4s;
}
.show-categories-button {
  position: absolute;
  top: 0; left: 0;
  width: 150px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  user-select: none;
}
.show-categories-button h1{
  padding: 0;
  margin: 0;
}
.categoriesHeader{
  cursor: pointer;
  user-select: none;
}
.categories {
  background-color: #121629 !important;
}
.categories p {
  font-size: 12px !important;
  width: 100% !important;
}
mat-checkbox {
  height: 35px;
}

.my-divider {
  margin: 15px auto;
  height: 3px;
  width: 200px;
  background-color: white !important;
  padding: 1px;
  content: '';
  margin-bottom: 10px;
}

mat-drawer {
  background-color: #121629 !important;
}

.card {
  width: 225px;
  height: 250px;
  text-align: center;
  border: 0px;
  background-color: #121629;
  color: white;
  border-radius: 0;
  cursor: pointer;
  transition: all .2s;
}

.card:hover {
  scale: 1.1;
}

.image-container {
  height: 125px;
  align-items: center;
  align-content: center;
  overflow: hidden;
  position: relative;
}

.card img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
.categoryInfoContainer {
  position: relative;
  height: 40px;
}
.categoryInfoContainer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  
}
p {
  margin: 0 5px;
  line-height: 18px;
  font-size: 15px;
  width: 100% !important;
}

.card-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.searchBar {
  width: 200px;
}
mat-paginator {
  display: flex;
  justify-content: center !important;
} 


@media screen and (max-width: 1200px){
  .card {
    width: 150px;
    height: 200px;
    font-size: 10px !important; 
  }
  .image-container {
    height: 80px;
  }
  p {
    margin: 0 2px;
    line-height: 15px;
    font-size: 12px !important; 
  }
  
  .my-divider {
    margin: 30px auto;
    height: 3px;
    width: 80px;
    background-color: white !important;
    padding: 0px !important;
    padding-top: 1px;
    content: '';
    margin-bottom: 5px;
  }
  .mat-drawer {
    position: absolute !important;
  }
  
}
@media screen and (max-width: 600px){
  .searchBar {
    width: 150px;
  }
}
  