.modal-content {
  background-color: #262626 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 
.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}
img {
  max-width: 100%;
}

.dark-modal-dialog {
  background-color: #121629 !important;
}
.light-modal-dialog {
  background-color: #004643 !important;
}
.dark-modal-inner {
  background-color: transparent;
}
.warning-text {
  font-size: 15px !important;
  line-height: 18px !important;
}
.warning {
  top: 100%; left: 50%;
  z-index: 99;
  visibility: visible !important;
  animation: warning 5s;
}
@keyframes warning {
  0% {
    visibility: visible !important;
    opacity: 0;
  }
  33% {
    opacity: .7;
  }
  66% {
    opacity: .7;
  }
  100% {
    visibility: visible !important;
    opacity: 0;
  }
}