<mat-drawer-container class="example-container position-relative fade-in" autosize style="height: 92vh">
  <!-- SideNav's -->
  <mat-drawer #drawer class="example-sidenav" [mode]="drawerMode" opened [ngClass]="(theme == 'dark') ? '' : 'light-card'">
    <div class="categories col-2 p-3 pt-1 w-100" 
    [ngClass]="(theme == 'dark') ? '' : 'light-card'">
      <h1 class="text-center m-0 mt-2 w-100 categoriesHeader rounded" style="min-width: 200px;"
        (click)="drawer.toggle(); toggleCategories()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-nested me-1 mb-1" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
        </svg>
        Categories
      </h1>
      <div class="w-100" *ngFor="let category of baseCategories.sort()">
        <div class="w-100">
          <mat-checkbox (click)="updatePFList()" class="example-margin w-100"
            [(ngModel)]="selectedCategories[category]"
            [ngClass]="(theme == 'dark') ? '' : 'light-card'">
            <p class="m-0" style="min-width: 200px;">{{ category }}</p>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer #drawer2 class="example-sidenav" [mode]="drawerMode" opened position="end" [ngClass]="(theme == 'dark') ? '' : 'light-card'">
    <div class="rounded selectedNutrientsContainer ms-2 my-3">
      <div class="result">
        <h1 (click)="drawer2.toggle(); toggleSelectedNutrients()" class="categoriesHeader text-center rounded">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-nested me-1 mb-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
          </svg>
          Selected Nutrients
        </h1>
        <h3 class="text-end me-3" *ngIf="intakeNutrients.length != 0">
          Total Calories: {{ getTotalCalories().toFixed(2)}}
        </h3>
        <div class="my-divider my-0" style="width: 90% !important;"></div>
      </div>
      <div class="row m-0 p-0">
        <h3 *ngIf="intakeNutrients.length == 0" class="p-4 mt-2" style="line-height: 18px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-info-square-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
          Please select nutrients by clicking them and indicate how many grams you consumed.
        </h3>
        <div class="col-4 m-4 savedNutrient bg-secondary" *ngFor="let intakeNutrient of intakeNutrients; index as i">
          <div class="imgcontainer">
            <img [ngSrc]="intakeNutrient.imageURL" width="400" height="200" class="" alt="">
          </div>

          <button class="deleteSavedNutrientButton" (click)="deleteSavedNutrient(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x closeIcon"
              viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
          <p style="bottom: 35% !important;     
            display: inline-block;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;">{{ intakeNutrient.Food }}</p>
          <p style="bottom: 10% !important">{{ (intakeNutrient.Grams * intakeNutrient.CaloriesPerGram).toFixed(0) }}
            Calories</p>
          <p>{{ intakeNutrient.Grams }}g</p>
        </div>
      </div>
    </div>
  </mat-drawer>

  <!-- Sidenav Togglers -->
  <button *ngIf="showCategories" class="show-categories-button fade-in text-center m-0 me-auto ms-0 btn rounded-0 py-2"
    (click)="drawer.toggle(); toggleCategories()" style="min-width: 200px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
    Categories
  </button>

  <button *ngIf="showNutrients"
    class="show-selected-nutirents-button fade-in text-center m-0 ms-auto me-0 btn rounded-0 position-absolute py-2"
    (click)="drawer2.toggle(); toggleSelectedNutrients()" style="width: 150px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
    <span class="position-relative">
      Total
      <span *ngIf="intakeNutrients.length != 0"
        class="position-absolute translate-middle badge rounded-pill bg-success">
        {{intakeNutrients.length}}
      </span>
    </span>
  </button>

  <!-- Decorations -->

  <div #decoration1 class="decoration-1" [ngClass]="decoration1Class" [ngClass]="[true ? decoration1Class : '', (theme == 'dark') ? '' : 'light-decoration']"></div>
  <div #decoration2 class="decoration-2" [ngClass]="decoration2Class" [ngClass]="[true ? decoration2Class : '', (theme == 'dark') ? '' : 'light-decoration']"></div>

  <!-- Main Container -->
  <div class="row m-0 p-0 text-light position-relative mainDiv" #mainDiv>
    <mat-divider></mat-divider>
    <div class="col-12 ms-auto me-auto pe-0">
      <div class="container text-light">
        <div class="food-container row">

          <div class="col-12 mt-5 mt-md-0 pe-4">
            <div class="d-flex justify-content-center mt-2" style="z-index: 9999;">
              <div class="me-2">
                <input class="form-control mx-auto searchBar" type="search" placeholder="Search" aria-label="Search"
                  name="input" [(ngModel)]="searchValue" (ngModelChange)="updatePFList()">
              </div>
              <div class="text-center">
                <button *ngIf="isAuthenticated" data-bs-toggle="modal" data-bs-target="#detailsModal"
                  class="btn btn-success ">Add nutrient</button>
              </div>

            </div>
          </div>
          <div class="col-12 row pe-0">
            <div class="col row pe-0 mb-5 pb-2">

              <div *ngIf="filteredFV.length == 0" class="col-12">
                <h1 style="cursor: pointer;" class="text-center mt-5" data-bs-toggle="modal"
                  data-bs-target="#detailsModal">
                  No results were found matching your search data. Click here to add a new nutrient!</h1>
              </div>

              <div class="col text-center" *ngFor="let item of foodsPF; index as i">
                <div *ngIf="item" class="card d-inline-block position-relative my-3 fade-in"
                  (click)="selectFood(item, i)" 
                  [ngClass]="(theme == 'dark') ? '' : 'light-card'"
                  data-bs-toggle="modal" data-bs-target="#calories-intake-modal">
                  <div class="image-container">
                    <img [src]="item.imageURL" alt="">
                  </div>
                  <p class="text-center mt-2">{{ item.Food }}</p>
                  <mat-divider class="mt-1"></mat-divider>
                  <div class="categoryInfoContainer">
                    <p class="mt-1 position-absolute">{{ item.Category }}</p>
                  </div>
                  <div class="card-bottom">
                    <div class="my-divider "></div>
                    <p class="">{{ (item.Calories / item.Grams).toFixed(2) }} Cal/g</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="rounded selectedNutrientsContainer ms-5 my-3">
                <div class="result">
                  <h3 class="text-end me-3" *ngIf="intakeNutrients.length != 0">
                    Total Calories: {{ getTotalCalories() }}
                  </h3>
                  <div class="my-divider"></div>
                </div>
                <div class="row">

                  <div class="col-4 m-4 savedNutrient" *ngFor="let intakeNutrient of intakeNutrients; index as i">
                    <div class="imgcontainer">
                      <img [ngSrc]="intakeNutrient.imageURL" width="400" height="200" class="" alt="">
                    </div>

                    <button class="deleteSavedNutrientButton" (click)="deleteSavedNutrient(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-x closeIcon" viewBox="0 0 16 16">
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                      </svg>
                    </button>
                    <p style="bottom: 10% !important">{{ intakeNutrient.Grams * intakeNutrient.CaloriesPerGram }}
                      Calories</p>

                    <p>{{ intakeNutrient.Grams }}g</p>

                  </div>
                </div>

              </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <button (click)="addData()" class="btn btn-primary p-2">Add data</button> -->

  </div>
  <div class="col-12 text-center my-paginator">
    <mat-paginator class="bg-transparent text-center" #paginator (page)="handlePageEvent($event)"
      [length]="filteredFV.length" [pageSize]="pageSize" [disabled]="disabled"
      [ngClass]="[(theme == 'dark') ? '' : 'light-card', true ? paginatorClass : '']"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>



</mat-drawer-container>