.services {
  /* min-height: 90vh; */
}
.service-card {
  width: 275px;
  height: 310px;
  background-color: #121629;
  color: white;
  margin: 20px;
}
.service-card:hover {
  animation: bop .4s;
} 

.service-card h1 {
  font-size: 21px !important;
  line-height: 25px;
}
.mainDiv {
  background: url('../../assets/images/nutwom.jpg');
  background-size: cover;
  background-position: 50% 0%;
  height: 80vh;

}
.header1 {
  font-size: 50px; 
  line-height: 50px;
}
.header2 {
  font-size: 30; 
  line-height: 30px;
}

@media screen and (max-width: 1200px){
  .header1 {
    font-size: 40px; 
    line-height: 40px;
  }
  .header2 {
    font-size: 20px; 
    line-height: 20px;
  }
}
@media screen and (max-width: 600px){
  .header1 {
    margin-top: 100px !important;
    font-size: 24px; 
    line-height: 24px;
    width: 100% !important;
  }
  .header2 {
    font-size: 18px; 
    line-height: 18px;
    width: 100% !important;
  }
}

.warning {
  top: 100%; left: 50%;
  z-index: 99;
  visibility: visible !important;
  animation: warning 3s;
}
.warningText {
  width: 150px !important;
  font-size: 14px;
  line-height: 14px;
}
@keyframes warning {
  0% {
    visibility: visible;
    opacity: 0;
  }
  33% {
    opacity: .7;
  }
  66% {
    opacity: .7;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}