/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.mat-drawer-container {
  background-color: transparent;
}

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

mat-hint {
  font-size: 10px;
}

.fade-in {
  animation: fade-in .4s ease-in-out;
  transition: color .4s, background-color .4s;
}
@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.enter-from-left {
  animation: efl .7s ease-in-out;
}
@keyframes efl{
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.dark-bg {
  background-color: #121629 !important;
}
.light-bg {
  background-color: #abd1c6 !important;
}
.light-card {
  background-color: #004643 !important;
  color: #abd1c6 !important;
}
.dark-card {
  background-color: #121629 !important;
  color: white !important;
}
.light-p {
  color: #abd1c6 !important;
  fill:  black !important;
}
.light-p2 {
  color: black !important;
  fill:  #abd1c6 !important;
}
.light-decoration {
  border-top-color: #004643 !important;
}
.dark-button {
  background-color: #b8c1ec;
}
.light-button {
  background-color: #f9bc60;
}