/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

mat-hint {
  font-size: 10px;
}

.fade-in {
  animation: fade-in .4s ease-in-out;
}
@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.enter-from-left {
  animation: efl .7s ease-in-out;
}
@keyframes efl{
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}



